body {
    font-family: Arial, sans-serif;
    color: white;
    height: 100vh;
    margin: 0;

    background:
        linear-gradient(rgba(0, 35, 70, 0.65),
            rgba(0, 35, 70, 0.65)),
        url("fondo.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.logo {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.btn {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 14px;
    border-radius: 30px;
    margin: 12px 0;
    transition: 0.3s;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.922);
    color: #1f1c2c;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 0;
    color: rgb(222, 187, 13);
}